body{margin: 0}

header{
    background-color: #a35858;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

header h1{
     width: 100%;
     text-align: left;
}

header input {
    width: 50%;
    text-align: left;
    border: none;
    border-radius: 10px ;
    padding: 5px;
    font-size: 14px;
}

header span{
    padding-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

ul{
    margin: 0; 
    padding: 0;
}

ul li {
    cursor: pointer;
    padding: 10px 0;
    list-style: none;
    font-size: 14px;
    display: flex;
    transition: 0.2s;
    align-items: center;
}


ul li:nth-child(odd){
    background-color: beige;
}

ul li:hover{
    background-color: grey;
}


ul li span{
    width: 80%;
}

ul li i{
    width: 10%;
    text-align: center;
}

.close{
    color: #001fa9
}

 